h1{
    background: linear-gradient(to left , #a0d8ef,#6359f0 );
    color:aqua;
    text-align: center;
    font-family: fantasy;
}
body {
    margin-left: 10;
    height: 100vh;
    background: linear-gradient(to left,white, rgb(174, 221, 239));
}
div#zentai{
    background: #d4f281;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 15px;
    grid-gap: 10px;
    width: 500px;
}
div#ken{
    background: #d4f281;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 100px;
    grid-gap: 10px;
    width: 100px;
}
span{
    padding-left:   15px;
}
body{
    padding-left:   50px;
    padding-right:   50px;
}
div#kek{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    width: 500px;
    padding : 20px ;
    border : 5px solid yellow ;
}
div.box{
    background: rgb(22, 208, 208);
}
img{
    height:300px;
    width:350px;
}
