h1{
    background: linear-gradient(to left , #a0d8ef,#6359f0 );
    color:aqua;
    text-align: center;
}
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to left,white, rgb(174, 221, 239));
}
div#zentai{
    background: #d4f281;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 15px;
    grid-gap: 10px;
    width: 500px;
}div#ken{
    background: #d4f281;
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 100px;
    grid-gap: 10px;
    width: 100px;
}